mixin choose
    .choose#choose
        .container
            .row
                .col-lg-6.order-lg-1.order-md-2.order-1.col-12
                    .choose__section
                        h2.choose__section__title Why Choose Us
                        p.choose__section__text Tion and dislike men who are so beguiled and demoralized by desire by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee
                        p.choose__section__text--second Ddislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that.
                        button.choose__section__btn(type="submit") EXPLORE PLACES
                            .choose__section__btn--layer
                .col-lg-6.order-lg-2.order-md-1.order-2.col-12
                    .choose__img
                        img.choose__img--top(src="./img/choose_img2.png",srcset='./img/choose_img2x2.png x2, ./img/choose_img2x3.png x3' alt="choose2")
                        img.choose__img--fot(src="./img/choose_img1.png",
                        srcset='./img/choose_img1x2.png x2, ./img/choose_img1x3.png x3', alt="choose1")
                