mixin nav
    .nav#nav
        .container
            .row.d-flex.justify-content-between
                .col-xl-6.col-lg-4.col-12.order-1.d-flex.align-item-start
                    h2.nav__title
                        a.nav__title--link(href="javascript:void(0)") BHROMAON
                .col-xl-6.col-lg-8.order-2
                    ul.nav__navbar.d-flex.justify-content-between.align-item-center
                        li.nav__navbar--item
                        a.nav__navbar--item-link(href="javascript:void(0)") WHO WE ARE
                        li.nav__navbar--item 
                        a.nav__navbar--item-link(href="javascript:void(0)") WHAT WE DO
                        li.nav__navbar--item
                        a.nav__navbar--item-link(href="javascript:void(0)") TRAVEL WITH US
                        li.nav__navbar--item
                        a.nav__navbar--item-link(href="javascript:void(0)") CONTACT US