mixin footer
    .footer
        .container
            .row.d-flex.justify-content-center
                .col-xl-2.col-md-4.col-6
                    h2
                        a.footer__title.d-flex.justify-content-center(href="javascript:void(0)") BHROMAON
                    p.footer__subtitle.d-flex.justify-content-center Safe Travel Anywhere   
                    .footer__links.d-flex.justify-content-between
                        a(href="https://www.facebook.com" title="facebook" target="_blank")
                            i.fab.fa-facebook-f.footer__links--img
                        a(href="https://twitter.com" title="twitter" target="_blank")
                            i.fab.fa-twitter.footer__links--img
                        a(href="https://www.instagram.com" title="instagram" target="_blank")
                            i.fab.fa-linkedin-in.footer__links--img
                        a(href="https://www.youtube.com" title="youtube" target="_blank")
                            i.fab.fa-youtube.footer__links--img
                        a(href="https://www.pinterest.com" title="pinterest" target="_blank")
                            i.fab.fa-pinterest.footer__links--img
                            