mixin tourist
    .tourist#tourist
        .container
            .row#tourist__row
                .col-lg-12.d-flex.flex-column
                    h2.tourist__title What Our Tourist Say

            .row
                .col-lg-12.col-md-8.tourist__box
                    .tourist__section.d-flex
                        img.tourist__section__img.d-flex(src="./img/Sam.png", srcset='./img/Samx2.png x2, ./img/Samx3.png x3', alt="Sam")
                        .tourist__section__info
                            h2.tourist__section__info--title SAM SUMON
                            i.fas.fa-quote-left
                            p.tourist__section__info--text But I must explain to you how all this mistaken idea of account to denouncinpleasure and praising pain  But I must explain to you how all this mistaken idea of account to nai denouncing pleasure and praising pain was account  born and I account will give you a complete account of the system was account  born and I account will give you a nai the complete account of the system