mixin burger
    .navb
        input#burger.burger(type="checkbox", name="navbar")
        label.burger__label(for='burger')
            i.fas.fa-bars
            i.fas.fa-times
        ul.burger__navbar.d-flex.justify-content-between
            li.burger__navbar__item
                a.burger__navbar__item--link(href="javascript:void(0)")  WHO WE ARE
            li.burger__navbar__item
                a.burger__navbar__item--link(href="javascript:void(0)") WHAT WE DO
            li.burger__navbar__item
                a.burger__navbar__item--link(href="javascript:void(0)") TRAVEL WITH US
            li.burger__navbar__item
                a.burger__navbar__item--link(href="javascript:void(0)") CONTACT US