mixin spain_info
    .col-xl-6.col-12
        .spain__info
            p.spain__info--head Spain
            h2.spain__info--title GRAND SPAIN MADRID
            P.spain__info--text But I must explain to you how all this mistaken idea of account to denouncing pleasure and praising pain was account  born and I account will give you a complete account of the system
            button.spain__info--btn(type="submit") BOOK NOW
                .spain__info--btn-layer